# Ignore everything inside 'PrayerTimes Python Project'
PrayerTimes Python Project/*

# Except for 'PrayerTimes_Lambda.py'
!PrayerTimes Python Project/PrayerTimes_Lambda.py

# Except for the 'Test-Files' folder and its contents
!PrayerTimes Python Project/Test-Files/