# Ignore everything inside 'PrayerTimes Python Project'
PrayerTimes Python Project/*

# Except for 'PrayerTimes_Lambda.py'
!PrayerTimes Python Project/PrayerTimes_Lambda.py
!PrayerTimes Python Project/PrayerTimes_Lambda.py
!PrayerTimes Python Project/Testing with Selenium.py